html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: MuseoSlab-900;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/MuseoSlab/MuseoSlab-900.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/MuseoSlab/MuseoSlab-900.woff") format("woff"), url("../TYPEFACES/MuseoSlab/MuseoSlab-900.ttf") format("truetype"), url("../TYPEFACES/MuseoSlab/MuseoSlab-900.svg#MuseoSlab-900") format("svg"); }
@font-face {
  font-family: MuseoSlab-500;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/MuseoSlab/MuseoSlab-500.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/MuseoSlab/MuseoSlab-500.woff") format("woff"), url("../TYPEFACES/MuseoSlab/MuseoSlab-500.ttf") format("truetype"), url("../TYPEFACES/MuseoSlab/MuseoSlab-500.svg#MuseoSlab-500") format("svg"); }
@font-face {
  font-family: BebasBold;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Bebas/BebasBold.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Bebas/BebasBold.woff") format("woff"), url("../TYPEFACES/Bebas/BebasBold.ttf") format("truetype"), url("../TYPEFACES/Bebas/BebasBold.svg#BebasBold") format("svg"); }
@font-face {
  font-family: BebasNeueRegular;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Bebas/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Bebas/BebasNeueRegular.woff") format("woff"), url("../TYPEFACES/Bebas/BebasNeueRegular.ttf") format("truetype"), url("../TYPEFACES/Bebas/BebasNeueRegular.svg#BebasNeueRegular") format("svg"); }
@font-face {
  font-family: GothamMedium;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Gotham/GothamMedium.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Gotham/GothamMedium.woff") format("woff"), url("../TYPEFACES/Gotham/GothamMedium.ttf") format("truetype"), url("../TYPEFACES/Gotham/GothamMedium.svg#GothamMedium") format("svg"); }
@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("..../TYPEFACES/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Roboto/Roboto-Regular.woff") format("woff"), url("../TYPEFACES/Roboto/Roboto-Regular.ttf") format("truetype"), url("../TYPEFACES/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg"); }
  @font-face {
  font-family: Nexa-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/Nexa-Bold.woff2") format("woff2"), url("../TYPEFACES/Nexa/Nexa-Bold.woff") format("woff"), url("../TYPEFACES/Nexa/Nexa-Bold.ttf") format("truetype"), url("../TYPEFACES/Nexa/Nexa-Bold.svg#Nexa-Bold") format("svg"); }
@font-face {
  font-family: Nexa-Black;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaBlack.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaBlack.woff2") format("woff2"), url("../TYPEFACES/Nexa/NexaBlack.woff") format("woff"), url("../TYPEFACES/Nexa/NexaBlack.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaBlack.svg#Nexa-Black") format("svg"); }
@font-face {
  font-family: Nexa-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaRegular.woff2") format("woff2"), url("../TYPEFACES/Nexa/NexaRegular.woff") format("woff"), url("../TYPEFACES/Nexa/NexaRegular.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaRegular.svg#Nexa-Regular") format("svg"); }
html {
  margin: 0;
  padding: 0;
  font-size: 64.25%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }
  html img {
    width: 100%; }

body {
  margin: 0;
  color: #303842; }

h1 {
  font-family: "MuseoSlab-900", sans-serif;
  font-size: 125px;
  font-weight: lighter; }

h2 {
  font-family: "BebasBold", sans-serif;
  font-size: 100px;
  font-weight: normal; }

h2.Sucess {
  font-family: "MuseoSlab-900", sans-serif;
  font-size: 72px;
  text-transform: uppercase; }
  h2.Sucess .Blue {
    color: #007AB5; }

h3 {
  font-family: "BebasBold", sans-serif;
  font-size: 50px;
  color: #007AB5; }

h4 {
  font-family: "MuseoSlab-500", sans-serif; }

h5 {
  font-family: "MuseoSlab-500", sans-serif; }

h6 {
  font-family: "BebasNeueRegular", sans-serif;
  font-size: 24px; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: "GothamMedium", sans-serif; }

a:hover {
  text-decoration: none; }

b {
  font-family: "GothamMedium", sans-serif;
  font-weight: bold; }

li {
  font-size: 15px;
  font-family: "MuseoSlab-500", sans-serif;
  font-weight: normal; }

select{
	-webkit-appearance:none;
}

body {
  background: #fff; }

.left {
  float: left; }

.right {
  float: right; }

.head {
  background: url(../slices/GettyImages-470805863.png);
  background-position: center;
  background-size: auto 100%; }
  @media screen and (min-width: 2000px) {
    .head {
      background-size: 100%; } }

#top {
  height: 100px;
  background: #fff; }

#logo {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  #logo:last-child {
    margin-right: 0; }
  #logo img {
    margin: 15px 0 0 15px;
    width: 300px; }
     @media screen and (max-width: 900px) {
	#logo img {
   		margin: 15px 0 0 15px;
    		width: 180px; }
	 }

#phone {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-left: 68.23843%; }
  #phone:last-child {
    margin-right: 0; }
  #phone p {
    color: #303842;
    float: left;
    text-align: left; }
    #phone p span {
      color: #aaa; }
       @media screen and (max-width: 900px) {
	#phone {
	width: 14.70196%;
	margin-left: 50%; }
	 }


header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: inherit; }

  header::after {
    clear: both;
    content: "";
    display: block; }
  header #SlideInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center;
    margin: auto;
    height: inherit; }
     @media screen and (max-width: 900px) {
	header #SlideInfo {
  	height: 65%; }
 	}
    header #SlideInfo:last-child {
      margin-right: 0; }
    header #SlideInfo .VertAlign {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header #SlideInfo img {
      width: 50px; }
    header #SlideInfo h1 {
      color: #fff;
      margin: 0px 0px 15px;
      line-height: 110px; }
      @media screen and (max-width: 900px) {
        header #SlideInfo h1 {
          margin: 0px 0px 0px;
          font-size: 75px; } }
    header #SlideInfo p {
      color: #fff;
      font-size: 18px; }

#middle {
  background: url(../slices/GettyImages_550216253_NOTPURCHASED.png) no-repeat, url(../slices/GettyImages_450123547_NOTPURCHASED.jpg) no-repeat;
  background-position: top right, bottom center;
  background-size: 45%, 125%; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main:last-child {
        margin-right: 0; } }
  main img.headline {
    width: 100%;
    margin-top: 100px; }
  main p, main h2.Sucess, main h5, main ol {
    margin-left: 130px; }
    @media screen and (max-width: 900px) {
      main p, main h2.Sucess, main h5, main ol {
        margin: 0 30px; } }
  main span p {
    margin: -14px 0 20px 0; }
  main h2 {
    margin: 0; }
  main .hold img {
    width: 45%;
    margin: 40px 20px 40px 0; }
  main .hold h3 {
    line-height: 40px;
    text-transform: uppercase;
    margin: 35px 0px 20px;
    display: inline-block;
    width: 50%; }
    @media screen and (max-width: 900px) {
      main .hold h3 {
        font-size: 38px;
        margin: 5px 0px 5px; } }
  main .hold p {
    font-size: 16px;
    margin: 0 0 55px 0; }
    @media screen and (max-width: 900px) {
      main .hold p {
        margin-bottom: 10px; } }
  main .hold b {
    font-family: "GothamBold", sans-serif;
    font-weight: Bold; }
  main .hold:first-of-type img {
    margin-top: 0px; }
  main .hold:first-of-type h3 {
    margin-top: 150px; }
    @media screen and (max-width: 900px) {
      main .hold:first-of-type h3 {
        margin-top: 10px; } }
  main h5 {
    margin-top: 30px;
    font-family: "MuseoSlab-900", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #007AB5; }
  main ol {
    padding: 0;
    list-style: none; }
    main ol li {
      counter-increment: section;
      margin: 0 0 15px 85px;
      font-family: "MuseoSlab-500", sans-serif;
      font-size: 15px; }
      main ol li br {
        display: block;
        margin-bottom: -10px;
        font-size: 2px;
        line-height: 2px;
        margin: 0 0 -12px 0px;
        padding: 0; }
    main ol li::before {
      content: counter(section);
      display: inline-block;
      height: 45px;
      width: 45px;
      padding: 8px 10px;
      margin-right: 40px;
      margin-left: -85px;
      font-family: "MuseoSlab-500", sans-serif;
      line-height: 30px;
      border-radius: 15px;
      background-color: #fff;
      color: #007AB5;
      background: url(../slices/Oval.png);
      background-size: 100%;
      text-align: center;
      position: relative;
      top: 10px; }

.aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background: #fff; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .aside {
      display: none; } }
  .aside #Intro {
    background: #007AB5;
    padding: 15px; }
  .aside h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .aside p {
    color: #fff;
    margin: 0; }
  .aside form {
    margin-top: 10px; }
    .aside form input[type="submit"] {
      background: #007AB5;
      color: #fff;
      font-family: "Nexa-Bold", sans-serif;
       	margin-bottom: 10px; }

.mobileForm {
  display: none; }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block;
      width: 95%;
      margin: -136px auto 0;
      background: #fff; } }
  .mobileForm #Intro {
    background: #007AB5;
    padding: 5px 15px; }
  .mobileForm h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .mobileForm p {
    color: #fff; }
  .mobileForm form {
    margin-top: 10px; }
    .mobileForm form input[type="submit"] {
      background: #007AB5;
      color: #fff;
      font-family: "MuseoSlab-500", sans-serif;
      margin-bottom: 10px; }

.goToFormMobile {
  display: none; }
  @media screen and (max-width: 900px) {
    .goToFormMobile {
      display: block;
      background: #007AB5;
      position: fixed;
      background: #000;
      bottom: 0;
      width: 100%;
      z-index: 100; }
      .goToFormMobile h4 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0; }
      .goToFormMobile p {
        color: #fff; } }

.goToFormMobile {
  background: #007AB5;
  padding: 0 10px; }
  .goToFormMobile a {
    text-decoration: none; }

.tiles {
  background: url(../slices/PhotoGrid.png);
  background-position: center;
  background-size: 100%;
  height: 1060px;
  margin-top: -125px; }
  @media screen and (max-width: 900px) {
    .tiles {
      background-position: center;
      background-size: 150%;
      margin-top: -60px;
      height: 600px; } }
  .tiles #section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .tiles #section::after {
      clear: both;
      content: "";
      display: block; }
    .tiles #section .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .tiles #section .contain:last-child {
        margin-right: 0; }
      .tiles #section .contain h2 {
        color: #fff;
        font-size: 105px;
        margin: 300px 0 0; }
        .tiles #section .contain h2 .Blue {
          color: #007AB5; }
        @media screen and (max-width: 900px) {
          .tiles #section .contain h2 {
            margin-top: -20px; } }
      .tiles #section .contain p {
        color: #fff;
        text-align: center;
        font-size: 15px; }
      .tiles #section .contain h6 {
        color: #007AB5;
        text-align: center; }

.footerSplash {
  background: url(../slices/GettyImages-550216253_MODIFIED.png) no-repeat;
  background-position: bottom center;
  background-size: 100%;
  height: 1300px; }
  @media screen and (max-width: 900px) {
    .footerSplash {
      background-position: center;
      background-size: 150%;
      height: 600px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .footerSplash footer::after {
      clear: both;
      content: "";
      display: block; }
    .footerSplash footer .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      text-align: center; }
      .footerSplash footer .contain:last-child {
        margin-right: 0; }
      .footerSplash footer .contain a.button {
        background: #007AB5;
        color: #fff;
        padding: 15px 40px;
        font-family: "MuseoSlab-900", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none; }
      .footerSplash footer .contain img {
        margin-top: 180px;
        margin-bottom: 45px; }

/*# sourceMappingURL=style2.css.map */
