html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: Have Heart One;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/HaveAHeart/Have Heart One.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/HaveAHeart/Have Heart One.woff2") format("woff2"), url("../TYPEFACES/HaveAHeart/Have Heart One.woff") format("woff"), url("../TYPEFACES/HaveAHeart/Have Heart One.ttf") format("truetype"), url("../TYPEFACES/HaveAHeart/Have Heart One.svg#Have Heart One") format("svg"); }
@font-face {
  font-family: Have Heart Two;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/HaveAHeart/Have Heart Two.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/HaveAHeart/Have Heart Two.woff2") format("woff2"), url("../TYPEFACES/HaveAHeart/Have Heart Two.woff") format("woff"), url("../TYPEFACES/HaveAHeart/Have Heart Two.ttf") format("truetype"), url("../TYPEFACES/HaveAHeart/Have Heart Two.svg#Have Heart Two") format("svg"); }
@font-face {
  font-family: Nexa-Bold;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/Nexa-Bold.woff2") format("woff2"), url("../TYPEFACES/Nexa/Nexa-Bold.woff") format("woff"), url("../TYPEFACES/Nexa/Nexa-Bold.ttf") format("truetype"), url("../TYPEFACES/Nexa/Nexa-Bold.svg#Nexa-Bold") format("svg"); }
@font-face {
  font-family: Nexa-Black;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaBlack.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaBlack.woff2") format("woff2"), url("../TYPEFACES/Nexa/NexaBlack.woff") format("woff"), url("../TYPEFACES/Nexa/NexaBlack.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaBlack.svg#Nexa-Black") format("svg"); }
@font-face {
  font-family: Nexa-Regular;
  font-style: normal;
  font-weight: normal;
  src: url("../TYPEFACES/Nexa/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../TYPEFACES/Nexa/NexaRegular.woff2") format("woff2"), url("../TYPEFACES/Nexa/NexaRegular.woff") format("woff"), url("../TYPEFACES/Nexa/NexaRegular.ttf") format("truetype"), url("../TYPEFACES/Nexa/NexaRegular.svg#Nexa-Regular") format("svg"); }

@font-face {
  font-family: 'Concert One';
  font-style: normal;
  src: local('Concert One'), local('ConcertOne-Regular'), url("../TYPEFACES/ConcertOne-Regular/ConcertOne-Regular.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  src: local('Concert One'), local('ConcertOne-Regular'), url("../TYPEFACES/ConcertOne-Regular/ConcertOne-Regular1.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'NeueRegular';
  src: url('../TYPEFACES/custom/NHaasGroteskDSW02-55Rg.eot');
  src: url('../TYPEFACES/custom../TYPEFACES/customNHaasGroteskDSW02-55Rg.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/customNHaasGroteskDSW02-55Rg.woff2') format('woff2'),
    url('../TYPEFACES/customNHaasGroteskDSW02-55Rg.woff') format('woff'),
    url('../TYPEFACES/customNHaasGroteskDSW02-55Rg.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueBold';
  src: url('../TYPEFACES/customNHaasGroteskTXW02-75Bd.eot');
  src: url('../TYPEFACES/customNHaasGroteskTXW02-75Bd.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/customNHaasGroteskTXW02-75Bd.woff2') format('woff2'),
    url('../TYPEFACES/customNHaasGroteskTXW02-75Bd.woff') format('woff'),
    url('../TYPEFACES/customNHaasGroteskTXW02-75Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueMedium';
  src: url('../TYPEFACES/customNHaasGroteskDSW02-65Md.eot');
  src: url('../TYPEFACES/customNHaasGroteskDSW02-65Md.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/customNHaasGroteskDSW02-65Md.woff2') format('woff2'),
    url('../TYPEFACES/customNHaasGroteskDSW02-65Md.woff') format('woff'),
    url('../TYPEFACES/customNHaasGroteskDSW02-65Md.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGroteskDisp-Bold";
  src: url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.eot');
  src: url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.woff2') format('woff2'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.woff') format('woff'),
    url('../TYPEFACES/fonts/NeueHaasGroteskDisp-Bold/NeueHaasGroteskDisp-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}  

@font-face {
  font-family: "NeueHaasGroteskTextMedium";
  src: url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.eot');
  src: url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.eot?#iefix') format('embedded-opentype'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.woff2') format('woff2'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.woff') format('woff'),
    url('../TYPEFACES/fonts/NeueHaasGroteskTextMedium/NeueHaasGroteskTextMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 

html {
  margin: 0;
  padding: 0;
  font-size: 64.25%;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }
  html img {
    width: 100%; }

body {
  margin: 0; }

h1 {
  font-family: "Have Heart One", cursive;
  font-size: 125px;}

h2 {
  font-family: "Have Heart One", cursive;
  font-size: 100px;
  font-weight: normal; }

h3 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 50px;
  color: #B90035; }

h4 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: normal; }

h5 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: bold; }

h6 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 24px; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; }

a:hover {
  text-decoration: none; }

li {
  font-family: "Nexa-Regular", sans-serif;
  font-weight: normal; }

body {
  background: #fff; }
  body .left {
    float: left; }
  body .right {
    float: right; }

.head {
  background: url(../slices/GettyImages-470805863-NOTPURCHASED.jpg);
  background-position: center;
  background-size: auto 967px; }
  @media screen and (min-width: 2000px) {
    .head {
      background-size: 100%; } }

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 967px; }
  header::after {
    clear: both;
    content: "";
    display: block; }
  header #phone {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #phone:last-child {
      margin-right: 0; }
    header #phone p {
      color: #fff;
      width: 250px;
      float: right;
      text-align: right; }
      /*header #phone p span {
        color: #aaa; }*/
  header #logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header #logo:last-child {
      margin-right: 0; }
    header #logo img {
      margin: 15px 0 0 15px;
      width: 100px; }
  header #SlideInfo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    text-align: center;
    margin: auto; }
    header #SlideInfo:last-child {
      margin-right: 0; }
    header #SlideInfo img {
      width: 50px; }
    header #SlideInfo h1 {
      color: #fff;
      margin: 350px 0px -30px; }
      @media screen and (max-width: 900px) {
        header #SlideInfo h1 {
          margin: 350px 0px 0px;
          font-size: 75px; } }
    header #SlideInfo p {
      color: #fff;
      font-size: 18px; }

/*#middle {
  background: url(slices/GettyImages_550216253_NOTPURCHASED.png) no-repeat, url(slices/GettyImages_450123547_NOTPURCHASED.jpg) no-repeat;
  background-position: top right, bottom center;
  background-size: 45%, 100%; }*/

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .content::after {
    clear: both;
    content: "";
    display: block; }

main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  main:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main:last-child {
        margin-right: 0; } }
  main img.headline {
    width: 100%;
    margin-top: 100px; }
  main p, main h5, main ol {
    margin-left: 130px; }
    @media screen and (max-width: 900px) {
      main p, main h5, main ol {
        margin: 0 30px; } }
  main h2 {
    margin: 0; }
  main .hold img {
    width: 45%;
    margin: 40px 20px 40px 0; }
  /*main .hold h3 {
    line-height: 40px;
    text-transform: uppercase;
    margin: 35px 0px 20px;
    display: inline-block;
    width: 50%; }*/
    @media screen and (max-width: 900px) {
      main .hold h3 {
        font-size: 38px;
        margin: 5px 0px 5px; } }
  main .hold p {
    font-size: 16px;
    margin: 0 0 28px 0; }
    @media screen and (max-width: 900px) {
      main .hold p {
        margin-bottom: 10px; } }
  main .hold:first-of-type img {
    margin-top: -30px; }
  main .hold:first-of-type h3 {
    margin-top: 110px; }
    @media screen and (max-width: 900px) {
      main .hold:first-of-type h3 {
        margin-top: 10px; } }
  main h5 {
    margin-top: 30px;
    font-family: "Nexa-Black", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: uppercase; }
  main ol {
    padding: 0;
    list-style: none; }
    main ol li {
      counter-increment: section;
      margin: 0 0 15px 85px;
      font-family: "Nexa-Regular", sans-serif;
      font-size: 15px; }
    main ol li::before {
      content: counter(section);
      display: inline-block;
      height: 45px;
      width: 45px;
      padding: 8px 10px;
      margin-right: 40px;
      margin-left: -85px;
      font-family: "Nexa-Bold", sans-serif;
      line-height: 30px;
      border-radius: 15px;
      background-color: #fff;
      color: #B90035;
      background: url(../slices/Oval.png);
      background-size: 100%;
      text-align: center;
      position: relative;
      top: 12; }

.aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-left: 8.5298%;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  margin-top: -136px;
  background: #fff; }
  .aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 900px) {
    .aside {
      display: none; } }
  .aside #Intro {
    background: #B90035;
    padding: 5px 15px; }
  .aside h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .aside p {
    color: #fff; }
  .aside form {
    margin-top: 10px; }

.mobileForm {
  display: none; }
  /*@media screen and (max-width: 900px) {
    .mobileForm {
      display: block;
      width: 95%;
      margin: -136px auto 0;
      background: #fff; } }*/
  .mobileForm #Intro {
    background: #B90035;
    padding: 5px 15px; }
  .mobileForm h4 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0; }
  .mobileForm p {
    color: #fff; }
  .mobileForm form {
    margin-top: 10px; }

.goToFormMobile {
  display: none; }
  @media screen and (max-width: 900px) {
    .goToFormMobile {
      display: block;
      background: #B90035;
      position: fixed;
      background: #000;
      top: 0;
      width: 100%;
      z-index: 100; }
      .goToFormMobile h4 {
        color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0; }
      .goToFormMobile p {
        color: #fff; } }

.goToFormMobile {
  background: #B90035;
  padding: 0 10px; }
  .goToFormMobile a {
    text-decoration: none; }

.tiles {
  background: url(../slices/PhotoGrid.jpg);
  background-position: center;
  background-size: 100%;
  height: 1060px;
  margin-top: -125px; }
  @media screen and (max-width: 900px) {
    .tiles {
      background-position: center;
      background-size: 150%;
      margin-top: -60px;
      height: 600px; } }
  .tiles #section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .tiles #section::after {
      clear: both;
      content: "";
      display: block; }
    .tiles #section .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%; }
      .tiles #section .contain:last-child {
        margin-right: 0; }
      .tiles #section .contain img {
        margin-top: 300px; }
        @media screen and (max-width: 900px) {
          .tiles #section .contain img {
            margin-top: -20px; } }
      .tiles #section .contain p {
        color: #fff;
        text-align: center;
        font-size: 16px; }
      .tiles #section .contain h6 {
        color: #fff;
        text-align: center; }
/*
.footerSplash {
  background: url(../slices/GettyImages-550216253_2-NOTPURCHASED.jpg) no-repeat;
  background-position: center;
  background-size: 100%;
  height: 700px; }
  @media screen and (max-width: 900px) {
    .footerSplash {
      background-position: center;
      background-size: 150%;
      height: 600px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .footerSplash footer::after {
      clear: both;
      content: "";
      display: block; }
    .footerSplash footer .contain {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 25.58941%;
      text-align: center; }
      .footerSplash footer .contain:last-child {
        margin-right: 0; }
      .footerSplash footer .contain a.button {
        background: #B90035;
        color: #fff;
        padding: 15px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none; }
      .footerSplash footer .contain img {
        margin-top: 80px;
        margin-bottom: 45px; } */

/*# sourceMappingURL=style.css.map */
