@import "bourbon/bourbon";
@import "neat/neat";

$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);


/* vietnamese */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url('../TYPEFACES/Merriweather/Inconsolata1.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/Merriweather/Merriweather1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/Merriweather/Merriweather2.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/Merriweather/Merriweather3.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/Merriweather/Merriweather4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Italic'), local('Merriweather-Italic'), url('../TYPEFACES/Merriweather/Merriweather5.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/Merriweather/Merriweather6.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/Merriweather/Merriweather7.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/Merriweather/Merriweather8.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/Merriweather/Merriweather9.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'), url('../TYPEFACES/Merriweather/Merriweather10.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/Merriweather/Merriweather11.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/Merriweather/Merriweather12.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/Merriweather/Merriweather13.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/Merriweather/Merriweather14.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 900;
  src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'), url('../TYPEFACES/Merriweather/Merriweather15.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/Merriweather/Merriweather16.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/Merriweather/Merriweather17.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/Merriweather/Merriweather18.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/Merriweather/Merriweather19.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url('../TYPEFACES/Merriweather/Merriweather20.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/Merriweather/Merriweather21.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/Merriweather/Merriweather22.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/Merriweather/Merriweather23.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/Merriweather/Merriweather24.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url('../TYPEFACES/Merriweather/Merriweather25.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/Merriweather/Merriweather26.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/Merriweather/Merriweather27.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/Merriweather/Merriweather28.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/Merriweather/Merriweather29.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url('../TYPEFACES/Merriweather/Merriweather30.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/Merriweather/Montserrat1.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/Merriweather/Montserra2.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/Merriweather/Montserrat3.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/Merriweather/Montserrat4.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../TYPEFACES/Merriweather/Montserrat5.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/Merriweather/Montserrat6.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/Merriweather/Montserrat7.woff2') format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/Merriweather/Montserrat8.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/Merriweather/Montserrat91.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../TYPEFACES/Merriweather/Montserrat10.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* New (Redesign) Styles Starts */
i { font-style: normal;}


p{
  font-size: 15px;
    line-height: 25px;
    font-family: 'Open Sans Regular';
}
h1 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 100px;
  font-weight: bold;}
h2 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 44px;
  font-weight: bold; }
h3 {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 50px;
  color: #B90035; }
h4 {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: normal; }
h5 {
  font-family: "Open Sans Bold", sans-serif;
  font-weight: bold; }
h6 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 24px; }
p {
  font-size: 15px;
  line-height: 25px;
  font-family: 'Open Sans Regular', sans-serif;
}
a:hover {
  text-decoration: none; 
}
.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include media($Desktop){
      padding: 0px 10px;
  }
  @include media($StandardDesktop){
      padding: 0px;
  }
}
.content::after {
    clear: both;
    content: "";
    display: block;
}

.head{
  background-position: top center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 535px;
    @include media($Tablet){
      height: 535px;
  }
  @include media($Mob){
      height: 400px;
  }
    header{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      @include media($Mob){
        height: 400px;
        position: relative;
    }
      #logo{
        float: left;
        display: block;
        margin-right: 0%;
        width: 40%;
        img {
          margin: 15px 0 0 15px;
          width:211px;
          @include media($Tablet){
            /*width: 210px;*/
        }
          @include media($Mob){
            margin: 25px 0 0 5px;
             width:220px;
        }
        }
      }
      #phone{
        float: right;
        display: block;
        margin-top: 15px;
        width: 40%;
        font-family: 'Open Sans Bold', sans-serif;
        a.phone_icon{
          background: url('../slices/phone_icon.png') no-repeat top left;
          width: 320px;
          float: right;
          padding-left: 42px;
          font-family: 'Open Sans Bold', sans-serif;
          font-size: 24px;
          color: #fff;
          min-height: 57px;
          display: inline-block;
          text-decoration: none;
          padding-top: 14px;
          font-weight: bold;
          @include media($Mob){
            width: 45px;
            margin-top: 8px;
        }
        span{
          @include media($Mob){
            display: none;
          }
        }
        }
      }
      #SlideInfo {
        float: left;
        display: block;
        width: 100%;
        text-align: center;
        margin: auto;
        height: auto !important;

      @include media($Mob){
            float: none;
          display: inline-block;
          width: 100%;
          text-align: left;
          margin: auto;
          height: auto !important;
          position: absolute;
          bottom: 100px;
          left: 0px;
       }
        .VertAlign {
          top: auto !important;
          left: auto !important;
          transform: none !important;
          position: relative;
          padding-top: 100px;
          padding-left: 10px;
          padding-right: 10px;
          @include media($Tablet){

        }
        @include media($Mob){
            padding-top: 45px;
        }         
        }
        h1{
          color: #fff;
          padding: 130px 10px 0px;
          margin: 0px 0px -20px;
          font-family: 'Palatino';

          @include media($Desktop){
          font-size: 90px;
            line-height: 100px;
        }
        @include media($StandardDesktop){
          font-size: 90px;
            line-height: 100px;
        }
          @include media($Tablet){
          font-size: 75px;
            line-height: 82px;
        }
        @include media($Mob){
            margin: 0px;
            font-size: 52px;
            line-height: 58px;
            padding: 0px 10px 0px;
        }
      }
      p{
          color: #fff;
          font-size: 18px;
          @include media($Tablet){
          font-size: 20px;
            padding-top: 20px;
          }
          @include media($Mob){
            font-size: 18px;
            padding-top: 24px;
            padding-left: 10px;
            padding-right: 10px;
            margin: 0;
          }
      }
      }
    }
}
.content_upper{
  width: 100%;
  margin-bottom: 30px;
    /*position: relative;*/
    .form_holder{
      float: right;
      width: 380px;
        display: block;
        margin-top:0px;       
        -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        background: #fff;
        position: relative;
        z-index: 999;
        @include media($Tablet){
        width: 100%;
        }
        @include media($Mob){
          width: 100%;
          border-bottom: 2px solid #656262;
          box-shadow: none;
        }
        #Intro{
          background: #ab3124;
          padding:10px 15px;
          min-height: 65px;
          box-sizing:border-box;
          cursor: pointer;
          h3{
            color: #fff;
            font-size: 36px;
            font-weight: bold;
            margin: 0;
            line-height: 45px;
            @include media($Tablet){
              
            }
            @include media($Mob){
              font-size: 32px;
            }
          }
          p{
            color: #fff;
            margin: 0;
            @include media($Tablet){

            }
            @include media($Mob){
              /*padding:10px 15px;*/
            }
            @include media($Desktop){
              padding-left:70px;
              padding-right: 70px; 
            }
            @include media($StandardDesktop){
              padding-left:100px;
              padding-right: 100px; 
            }
        }
        } 
        form{
          padding: 0 15px 15px;
          input{
            padding: 8px;
            width: 100%;
            border: 1px solid #ddd;
            &[type="submit"]{
              background: #ab3124;
              color: #fff;
              font-family: "Nexa-Bold", sans-serif;
              cursor: pointer;
              @include media($Mob){ 
                height: 40px;
                border-radius: 0px;
              }
            }
            @include media($Mob){ 
              font-size: 16px;
          }
          }
          select{
            padding: 8px;
            width: 100%;
            border: 1px solid #ddd;
            @include media($Mob){ 
              font-size: 16px;
          }
          }
        }   
      }
      .success_holder{
        width:595px;
        float:left;
        padding-top: 42px;
        @include media($Tablet){
          /*width: 385px;*/
          width: 100%;
        padding: 10px;
        }
        @include media($Mob){
          width: 100%;
          padding: 10px;
        }
        @include media($StandardDesktop){
          width:795px;
        }
        img.headline{
          width: 80%;
          @include media($Tablet){
            max-width: 380px;
          }
        }
        h2{
          font-size: 44px;  
          color: #231f20;
          letter-spacing: -0.25px;
          line-height: 54px;
          @include media($Tablet){

          }
          @include media($Mob){
            font-size: 43px;  
            line-height: 50px;
          }
          i{
            color: #ee002f;
            width:20px;
          height: 30px;
          display: inline-block;
          @include media($Mob){
            height: 29px;
              background-size: 28px;
          }
          }
        }
        p{
          padding-right: 100px;
          font-size: 19px;
          color: #6d6e71;
          line-height: 28px;
          @include media($Tablet){
          padding-right: 10px;
          }
          @include media($Mob){
            padding: 0;
            font-size: 16px;
            line-height: 28px;
          }
        }
        ul{
          li{
            font-size: 15px;
            font-family: Georgia, Times New Roman serif;
            line-height: 24px;
          }

        }
        .video_holder{
          iframe{
            width: 100%;
            max-width: 770px;
            height: 425px;
            margin: 15px 0;
            @include media($Mob){
              height: 225px;
            }
          }
        }
      }
  
}
#middle{
  background: #ab3124;
}
main{
  width: 595px;
  float:left;
    padding-top: 20px;
    padding-bottom: 15px;
    @include media($Tablet){
      width: 100%;
    padding: 10px;
    }
    @include media($Mob){
      width: 100%;
      padding: 10px;
    }
    @include media($StandardDesktop){
      width:795px;
  }
  .avail_holder{
    width: 100%;
    float: left;
    padding-bottom: 0px;
    @include media($Mob){
      padding-bottom: 0;
      }   
    h2.availdegree{
      margin: 38px 0 10px 0;
        font-size: 44px;
        line-height: 58px;
        color: #fff;
        @include media($Tablet){
          font-size: 40px;
          line-height: 58px;
        }
        @include media($Mob){
          font-size: 24px;
          line-height: 36px;
        }
    }
    p{
      margin: 0 0 28px 0;
      color: #fff;
      font-size: 18px;
      line-height: 26px;
      @include media($Tablet){

        }
        @include media($Mob){
          font-size: 14px;
          line-height: 25px;
        }
    }
  }
  .all_programs{
    width: 100%;
    float: left;
    h1{
      line-height: 35px;
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      margin: 0px 0px 13px;
      width: 100%;
      display: inline-block;
      cursor: pointer;
      @include media($Tablet){
          
      }
      @include media($Mob){
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.4px;

        padding-left: 20px;
        box-sizing: border-box;
        background: url('../slices/side_arrow.png') no-repeat 0 3px;
        background-size: 16px;
      }
      &.open{
        @include media($Mob){
          background: url('../slices/down_arrow.png') no-repeat 0 3px;
          background-size: 16px;
        }
      }
      i{
        color: #ee002f;
        /*font-family: Georgia, Times New Roman serif;*/
        background: url('../slices/side_arrow.png') no-repeat top center;
        width:18px;
        height: 20px;
        display: inline-block;
        @include media($Mob){
          background-size: 16px;
          height: 14px;
          display: none;
        }

        &.open_arrow{
          background: url('../slices/down_arrow.png') no-repeat top center;
          
          @include media($Mob){
            background-size: 16px;
            height: 14px;
          }
        }
      }
    }
    blockquote{
      display: none;
      font-family: Georgia, Times New Roman serif;
      font-size: 20px;
      color: #fff;
      line-height: 30px;
      margin: 0 0 26px;
      padding: 0px;
      @include media($Mob){
          font-size: 14px;
          line-height: 25px;
        }
        p{
          font-size: 18px;
        color: #fff;
        line-height: 29px;
        margin: 0px;
        padding: 0 0 5px;
        @include media($Mob){
            font-size: 14px;
            line-height: 25px;
          }
        }
    }   
  }
  .programs_row{
    width: 100%;
    float: left;
    .hold{
      width: 100%;
      float: left;
      padding-bottom: 20px;
      @include media($Mob){
        width: 100%;
        padding-bottom: 14px;
      }
      &:nth-child(1){
        /*padding-right: 50px;*/
        @include media($Tablet){
          /*padding-right: 10px;*/
        }
        @include media($Mob){
          padding-right: 0px;
        }
      }
      &:nth-child(2){
        /*padding-left: 50px;*/
        @include media($Tablet){
          /*padding-left: 10px;*/
        }
        @include media($Mob){
          padding-left: 0px;
        }
      }
      h3{
        line-height: 38px;
        font-size: 26px;
        color: #fff;
          text-transform: uppercase;
          margin: 0px 0px 10px;
          display: inline-block;
          cursor: pointer;
          width: 100%;
          box-sizing:border-box;
          @include media($Tablet){
          
        }
        @include media($Mob){
          font-size: 16px;
          line-height: 24px;
          letter-spacing: -0.4px;
        }
        &.open{
          @include media($Mob){
            background: url('../slices/icon_minus.png') no-repeat top left;
            background-size: 30px;
          }
        }
        i{
          color: #ee002f;
          /*font-family: Georgia, Times New Roman serif;*/
          background: url('../slices/side_arrow.png') no-repeat top center;
          width:18px;
          height: 20px;
          display: inline-block;
          @include media($Mob){
            background-size: 16px;
            height: 14px;
          }

          &.open_arrow{
            background: url('../slices/down_arrow.png') no-repeat top center;
            
            @include media($Mob){
            background-size: 16px;
            height: 14px;
            }
          }
        }
      }
      section{
        display: none;
        p{
          font-size: 20px;
          color: #fff;
          line-height: 30px;
          @include media($Mob){
              font-size: 14px;
              line-height: 25px;
            }
        }
        @include media($Tablet){
          
        }
        @include media($Mob){
          font-size: 14px;
          display: none;
        }

      }

    }

  } 
}
.additional_programs_holder{
  background-position: top center;
    background-size: cover;
    position: relative;
    padding-top:35px;
    min-height: 600px;
    @include media($Tablet){
          
  }
  @include media($Mob){
    background-image: none !important;
    background-color: #000;
  }
    .content{
      text-align: center;
      .title{
        width: auto;
        display: inline-block;
        margin: 0 auto;
        .additional_text{
          font-family: "Have Heart One", cursive;
          color: #fff;
          font-size: 82px;
          text-align: left;
          float: left;
          clear: both;
          @include media($Tablet){
          
        }
        @include media($Mob){
          float: none;
          text-align: center;
        }
        }
        h3{
          text-align: left;
          float: left;
          margin: -38px 0 0 46px;
          text-transform: uppercase;
          font-size: 47px;
          clear: both;
          @include media($Tablet){
          font-size: 40px;
        }
        @include media($Mob){
          float: none;
          text-align: center;
          margin: -15px 0 0 0;
          font-size: 36px;
          line-height: 41px;
        }
        }
      }
      .addi_programs{
        width: 100%;
        float: left;
        margin: 20px 0;
        ul{
          width: 100%;
          padding:0;
          margin: 0px;
          li{
            width: 33.3%;
            float: left;
            padding:0px 20px;
            text-align: center;
            font-family: "Nexa-Bold", sans-serif;
            font-size: 19px;
            color: #fff;
            line-height: 35px;
            list-style: none;
            @include media($Tablet){
            width: 50%;
          }
          @include media($Mob){
            width: 100%;
            padding:0px 12px;
          }
          }
        }
      }
      .fillout_text{
        width: 100%;
        text-align: center;
        font-family: "Nexa-Bold", sans-serif;
        font-size: 22px;
        color: #fff;
        float: left;
        padding: 36px 20px 30px;
      }
    }

}

.locations_holder{
  background:#edeeef;
    position: relative;
    padding-top:55px;
    min-height: 600px;
    width: 100%;
    display: inline-block;
    @include media($Tablet){
    padding-left: 10px;
    padding-right: 10px;      
  }
  @include media($Mob){
    background-color: #edeeef;
    padding-top: 30px;
    padding-bottom: 15px;
    min-height: auto;
  }
    .content{
      text-align: left;
      .title{
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        h3{
          text-align: left;
          float: left;
          margin: 0px 0 0 0px;
          font-size: 45px;
          color: #231f20;
          width: 100%;
          font-weight: bold;
          letter-spacing: -0.60px;
          @include media($Tablet){
          font-size: 34px;
        }
        @include media($Mob){
          float: none;
          text-align: left;
          margin: -14px 0 0 0;
          font-size: 28px;
          line-height: 36px;
        }
        i{
          color: #ee002f;
          width:20px;
          height: 27px;
          display: inline-block;
          background: url('../slices/loc_side_arrow.png') no-repeat top center;
          @include media($Mob){
            height: 18px;
              background-size: 20px;
          }
          &.loc_open_arrow{
            @include media($Mob){
              background: url('../slices/loc_down_arrow.png') no-repeat top center; background-size: 22px;

            }
          } 
        }
        
        }
      }
      .locations_list{
        width: 100%;
        float: left;
        margin: 20px 0 15px;
        padding-bottom: 12px;
        border-bottom: 3px solid #ee002f;
        @include media($Mob){
        display: none;
      }
        ul{
          width: 100%;
          padding:0;
          margin: 0px;
          li{
            width: 33%;
            float: left;
            list-style: none;
            padding:0px 12px 0 0;
            min-height: 105px;
            @include media($Tablet){
            min-height: 125px;
            width: 33%;
          }
          @include media($Mob){
            width: 100%;
            min-height: 100px;
          }
            h4{
              text-align: left;
              font-family: 'NeueBold', sans-serif;
              font-size: 22px;
              color: #f5283c;
              line-height: 35px;
              margin: 0px;
              font-weight: bold;
              @include media($Mob){
              font-size: 23px;
              text-align: center;
            }
            }
            div{
              width: 100%;
              display: block;
              font-family: 'NeueRegular', sans-serif;
              color: #303132;
              font-size: 17px;
              line-height: 24px;
              @include media($Mob){
              font-size: 17px;
              line-height: 22px;
              text-align: center;
            }
            }
            
            @include media($Tablet){
          
          }
          @include media($Mob){
            
          }
          }
        }
      }
      .additional_locations{
        width: 100%;
        text-align: left;
        font-family: "Nexa-Bold", sans-serif;
        font-size: 22px;
        color: #fff;
        float: left;
        padding: 0px 20px 30px 0;
        @include media($Mob){
        display: none;
      }
        ul{
          width: 100%;
          padding:0;
          margin: 0px;
          li{
            width: 50%;
            float: left;
            list-style: none;
            padding:15px 12px 15px 0;
            @include media($Tablet){
            
          }
          @include media($Mob){
            width: 100%;
            padding:15px 0px 15px 0;
            text-align: center;
          }
            h4{
              text-align: left;
              font-family: 'NeueBold', sans-serif;
              margin: 0px;
              font-size: 22px;
              color: #f5283c;
              line-height: 35px;
              margin: 0px;
              font-weight: bold;
              @include media($Tablet){
              font-size: 20px;
              line-height: 28px;
            }
            @include media($Mob){
              font-size: 23px;
              text-align: center;
            }
            }
            div{
              width: 100%;
              display: block;
              font-family: 'NeueRegular', sans-serif;
              color: #303132;
              font-size: 17px;
              line-height: 24px;
            }           
            @include media($Tablet){
          
          }
          @include media($Mob){
            text-align: center;
            font-size: 17px;
            line-height: 22px;
          }
          }
        }
      }
    }

}
.testimonial_holder{
  width: 100%;
  float: left;
  background: url(../slices/testimonial_bg.jpg) no-repeat;
  background-size: cover;
  .content{
    text-align: left;
    padding: 50px 0;
    .quote{
      font-family: 'Palatino-Roman';
      font-size: 31px;
      color: #303030;
      text-align: center;
      margin: 0;
      font-weight: normal;
      @include media($Tablet){
          
      }
      @include media($Mob){
        font-size: 23px;
        line-height: 30px;
      }
      i{
        font-family: 'Palatino-Roman';
        color: #ab3124;
        font-size: 45px;
        padding: 0 6px;
        @include media($Mob){
          font-size: 36px;
        }
      }
    }
    .owner_row{
      width:100%;
      .owner_info{
        width:auto;
        float: right;
        text-align: left;
        font-family: 'Palatino-Roman'; 
        font-size: 24px;
        color: #000;
        line-height: 29px;
        font-style: italic;
        padding-bottom: 12px;
        padding-top: 10px;
        padding-right: 10px;

        @include media($Mob){
          font-size: 14px;
          line-height: 23px;

        }
      }
    }
  }
}
/*.footerSplash{
  background-position: center center;
    background-size: cover;
    position: relative;
    padding-top:25px;
    min-height: 700px;
  @include media($Mob){
      min-height: 600px;
      padding-top:5px;
    }
    footer{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      .title{
        width: auto;
        display: inline-block;
        margin: 25px auto;
        .get_text{
          font-family: "Have Heart One", cursive;
          color: #000;
          font-size: 92px;
          text-align: left;
          float: left;
          clear: both;
          z-index: 999;
          position: relative;
          @include media($Tablet){
          
        }
        @include media($Mob){
          font-size: 78px;
          padding-left: 10px;
        }
        }
        h3{
          text-align: left;
          float: left;
          margin: -50px 0 0 0px;
          text-transform: uppercase;
          font-size: 50px;
          clear: both;
          @include media($Tablet){
          
        }
        @include media($Mob){
          font-size: 36px;
          margin: -33px 0 0 0px;
        }
        }
        .button{
          background: #B90035;
        color: #fff;
        padding: 12px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        float: left;
          clear: both;
          margin-top: 10px;
          margin-left: 26%;
          @include media($Tablet){
          
        }
        @include media($Mob){
          margin-left: 19%;
        }
        }
      }
    }
}*/
.copyright{
  background: #303133;
  padding: 28px 0;
  font-family: 'Tiempo';
  font-size: 18px;
  width: 100%;
  float: left;
  h2{
    font-size: 42px;
    font-family: 'Open Sans Bold';
    margin:0 0 10px 0;
    color: #fff;
    text-align: center;
    @include media($Mob){
      line-height: 42px;
    }
  }
  .footer_para{
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
  }
  p{
    font-size: 18px;
  }
  a{
      color: #fff;
    font-size: 18px;
    text-decoration: none;
    @include media($Mob){
        font-size: 16px;
        margin: 0 5px;
      }
  }
}

.goToFormMobile {
  @include media($Tablet){
      display: none; 
    }
    @include media($Mob){
      display: none; 
    }
}
.locations_holder .content .additional_locations ul li:first-child h4{
    padding: 0px 40px 0 0;
  @include media($Tablet){
    padding: 0px 8px 0 0;         
  }
  @include media($Mob){
    padding: 0px 0px;
  }
}

.content_upper .success_holder h1,
.content_upper .success_holder h2,
.content_upper .success_holder h3
{
  font-size: 42px;
  color: #ab3124;
  margin:0;
  padding: 0;
  line-height: 46px;
  @include media($Tablet){
    font-size: 40px !important;
    line-height: 46px !important;       
  }
  @include media($Mob){
    font-size: 36px  !important;
      line-height: 47px !important;
  }
}
.content_upper .content .form_holder form.keypath{
  @include media($Desktop){
          
  }
}
.form_holder form.keypath{
  @include media($Desktop){
          
  }
}
.goToFormMobile {
  @include media($Tablet){
    background: #B90035;
      padding: 10px;
      position: fixed;
      bottom: 0px;
      width: 100%;
      z-index: 1000;      
  } 
  h4{
    @include media($Tablet){
      color: #fff;
        font-size: 36px;
        font-weight: bold;
        margin: 0;
    }

  }   
}
.goToFormMobile p{
  color: #fff;
    line-height: 16px;
    padding: 5px 0 10px;
    margin: 0px;
}
body.Thank #SlideInfo  h1 i
{
  display: none;
}
.head header #phone a.phone_icon{
  width: 350px;
  letter-spacing: 1px;
  @include media($Mob){
    width: 45px;
  }
}
/* Human Services programs title reduce only this lander */
.Human main .programs_row .hold h3{
  @include media($Mob){
    line-height: 34px;
      font-size: 25px;
  }
}
main p, main h5, main ol {
    margin-left: 0px;
}
.all_programs > p {
  display: none;
}
.copyright a, 
.copyright p {
    color: #fff;
    margin: 0;
}
main .hold h3{
  width:100%;
  box-sizing: border-box;
}
select{
    background: #fff url(../slices/down.png) no-repeat 99% center;
    /*background-size: 9px;*/
    -moz-appearance: none;
    -webkit-appearance: none;
}
/* IE 10 & 11 Hack  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    select
    {
    background: #fff;
    background-image: none;
    }
}
/* IE 9 Hack only */
@media all and (min-width:0\0) and (min-resolution:.001dpcm)
{
  select
    {
    background: #fff;
    background-image: none;
    }
}

.sticky{
  display: none;
  position: fixed;
}
body.mobsticky{
  .sticky{
    display:none;
    a{
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      background: #ab3124;
      font-size: 32px;
      color: #FFF;
      text-align: center;
      padding: 10px 15px;
      z-index: 9999;
      font-weight: bold;
      min-height: 65px;
    } 
  }
}

.keypath{
  .full{
    width: 100%;
    clear: both;
    z-index: 9999;
    position: relative;
  }

  .full .left{
    width:50%;
    float: left;
    box-sizing:border-box;
    padding-right: 6px;
  }

  .full .right
  {
    width:50%;
    float: right;
    box-sizing:border-box;
    padding-left: 6px;
  }

  .city_state_wrapper div.jvFloat{
    display: inline-block;
    width: 100%;
  }

  .full.city_state_wrapper {
    margin-bottom: 1em;
    float: left;
    display: none;
  }

  .jvFloat label.placeHolder[for=gradeyear] {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}