.content-card
	color: $body-copy
	display: block
	&:hover
		color: $body-copy
	&--hover-effect
		+media($screen-md-min)
			+hover-shadow
	&--news
		+media($screen-md-min)
			.content-card__photo
				margin-bottom: rem(5)
			.content-card__title
				padding-bottom: 0
				color: $body-copy
			.content-card__text
				padding-top: rem(4)
	&__photo
		background: 50% no-repeat
		background-size: cover
		// height: rem(215)
		margin-bottom: rem(17)
		padding-bottom: 77%
		+media($screen-md-min)
			height: rem(290)
			padding-bottom: 0
	&__tag
		font-size: rem(12)
		padding-bottom: rem(5)
		font-family: $neueTextMedium
		+media($screen-md-min)
			font-size: rem(16)
			padding-bottom: rem(18)
			font-family: $neueDispRegular
			color: $gunmetal
	&__title
		font-size: rem(20)
		line-height: rem(30)
		letter-spacing: rem(-0.5)
		color: $baker-red
		font-family: $neueDispBold
		+media($screen-md-min)
			font-size: rem(24)
			line-height: rem(36)
			letter-spacing: rem(-0.5)
			padding-bottom: rem(11)
		&--color-black
			color: $body-copy
	&__text-wrap
		+media($screen-md-min)
			padding: rem(15) 0
	&__text
		padding: rem(5) 0 rem(11)
		+media($screen-md-min)
			padding-bottom: rem(23)
		p
			font-size: rem(20)
			line-height: rem(27)
			font-family: $georgia
			+media($screen-md-min)
				font-size: rem(20)
				line-height: rem(30)
	&__read-more
		&:hover
			background: url('../../assets/images/icons/chevron-right-red.svg') 100% 60% no-repeat
		&--download
			background: url('../../assets/images/icons/download--red.svg') 0 50% no-repeat
			background-size: rem(12)
			display: inline-block
			font-size: rem(16)
			padding-left: rem(25)
			&:hover
				background: url('../../assets/images/icons/download--red.svg') 0 50% no-repeat
				background-size: rem(12)

.content-card_text-wrap--desktop-gutter
	+media($screen-md-min)
		+padding(null rem(20))

.themed--adi
	.content-card
		&__title
			color: $adi-blue

.themed--cim
	.content-card
		&__title
			color: $cim-orange
